AfekaTorrent.DownloadManager/Service References/UserServer/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8181/users/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8181/users/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8181/users/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UserService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="UserService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="UserService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="UserService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="UserService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="UserService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="UserService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="UserService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="UserService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="UserService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="UserService_EditUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUser" />
  </wsdl:message>
  <wsdl:message name="UserService_EditUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserResponse" />
  </wsdl:message>
  <wsdl:message name="UserService_GetUsersCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersCount" />
  </wsdl:message>
  <wsdl:message name="UserService_GetUsersCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersCountResponse" />
  </wsdl:message>
  <wsdl:message name="UserService_UpdateFolders_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFolders" />
  </wsdl:message>
  <wsdl:message name="UserService_UpdateFolders_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFoldersResponse" />
  </wsdl:message>
  <wsdl:portType name="UserService">
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/UserService/AddUser" message="tns:UserService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UserService/AddUserResponse" message="tns:UserService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/UserService/Login" message="tns:UserService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UserService/LoginResponse" message="tns:UserService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/UserService/GetAllUsers" message="tns:UserService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UserService/GetAllUsersResponse" message="tns:UserService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/UserService/DeleteUser" message="tns:UserService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UserService/DeleteUserResponse" message="tns:UserService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/UserService/GetUser" message="tns:UserService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UserService/GetUserResponse" message="tns:UserService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <wsdl:input wsaw:Action="http://tempuri.org/UserService/EditUser" message="tns:UserService_EditUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UserService/EditUserResponse" message="tns:UserService_EditUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersCount">
      <wsdl:input wsaw:Action="http://tempuri.org/UserService/GetUsersCount" message="tns:UserService_GetUsersCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UserService/GetUsersCountResponse" message="tns:UserService_GetUsersCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFolders">
      <wsdl:input wsaw:Action="http://tempuri.org/UserService/UpdateFolders" message="tns:UserService_UpdateFolders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/UserService/UpdateFoldersResponse" message="tns:UserService_UpdateFolders_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_UserService" type="tns:UserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/UserService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/UserService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/UserService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/UserService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/UserService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <soap:operation soapAction="http://tempuri.org/UserService/EditUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersCount">
      <soap:operation soapAction="http://tempuri.org/UserService/GetUsersCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFolders">
      <soap:operation soapAction="http://tempuri.org/UserService/UpdateFolders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_UserService" binding="tns:BasicHttpBinding_UserService">
      <soap:address location="http://localhost:8181/users/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>